body {
	font-family: 'NanumSquare'; 
}

.main-wrapper{
  width:1200px;
	margin: 0 auto;
  line-height:2.2em;
}

header {
	width: 1200px;
  height: 70px;
	margin: 0 auto;
	background-color: #cff2f7;
}

header nav {
	width:40%;
	float:right;	
}

nav ul li{
	display: inline;
	margin: 15px;
}

nav ul li a{
	color:white;
	text-decoration:none;	
}



.content-wrapper{
  margin: 10px auto;
  display: flex;
  flex-direction: roy;
  
}

.box-a{
  width:400px;
  height:650px;
  background-color: #ceeeea;
  display:inline-block;
  padding: 5px 10px;
      }

.box-b{width:400px;
      height:650px;
      background-color: #f0cceb;
      display:inline-block;
      padding: 5px 10px; 
      }    

.box-c{width:400px;
      height:650px;
      background-color: #d6f5d6;
      display:inline-block;
      padding: 5px 10px; 
      }

.box-d{
	width:1200px;
	height:200px;
	background-color:#e0f5b8;
}

footer{
	clear:both;
	width: 1200px;
	background-color:#333;
	color:white;	
	text-align:center;
}