h1,
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: 'NanumSquare', san-serif;color: gray;}

article {
  font-family: 'Black Han Sans', sans-serif; }

header {
  background-color: #dff1f1;
  }
footer{
  background-color: gray;
}


